<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="learnspring.springmybatis.BlogMapper">

    <select id="selectBlog" resultType="learnspring.springmybatis.User">
        select * from public.user u where id = #{id}
    </select>

    <resultMap type="learnspring.springmybatis.User" id="usermap2">
        <id column="id" property="id"/>
        <result column="firstname" property="firstname"/>
        <result column="lastname" property="lastname"/>
        <result column="created" property="created"/>
    </resultMap>

    <select id="getUser2" resultMap="usermap2">
        select * from public.user where id = #{id,javaType=int,jdbcType=NUMERIC}
    </select>
    <insert id="insertUser2">
        insert into public.user (id, firstname, lastname, created, sex) values (
        #{id}, #{firstname}, #{lastname}, #{created}, #{sex}
        )
    </insert>

    <select id="selectPosts" resultMap="postsResultMap">
        select p.*, u.*, c.*, r.*
        , p.created as post_created, u.created as user_created
        , r.name as rang_name_alias
        from public.post p
        left join public.user u on u.id = p.user_id
        join public.category c on c.id = p.category_id
        left join public.rang r on r.id = u.rang_id
        LIMIT 3
    </select>

    <select id="selectPostTag" resultType="learnspring.springmybatis.PostTag">
        SELECT pt.*, t.*
        FROM public.post_tag pt
        JOIN public.tag t ON t.id = pt.tag_id
        WHERE pt.post_id = #{id}
    </select>

    <resultMap id="userResult" type="learnspring.springmybatis.User" autoMapping="true">
        <result property="created" column="user_created" />
        <association property="rang" column="rang_id"
                     javaType="learnspring.springmybatis.Rang" autoMapping="true">
            <result property="name" column="rang_name_alias"></result>
        </association>
    </resultMap>

    <!--<resultMap id="tagResult" type="learnspring.springmybatis.PostTag" autoMapping="true">-->
        <!--<association property="tag" column="tag_id"-->
        <!--javaType="learnspring.springmybatis.Tag" autoMapping="true">-->
        <!--</association>-->
    <!--</resultMap>-->

    <resultMap id="postsResultMap" type="learnspring.springmybatis.Post" autoMapping="true">
        <!--<id property="id" column="id" />-->
        <result property="created" column="post_created" />
        <association property="user" column="user_id" resultMap="userResult" notNullColumn="user_id"/>
        <association property="category" column="category_id"
                     javaType="learnspring.springmybatis.Category" autoMapping="true">
            <!--<id property="id" column="category_id" />-->
        </association>
        <collection property="postTag" javaType="ArrayList" column="id"
                    ofType="learnspring.springmybatis.PostTag" select="selectPostTag"  autoMapping="true">
            <!--<result property="id" column="id" />-->
            <!--<result property="post_id" column="post_id" />-->
            <!--<result property="tag_id" column="tag_id" />-->
            <association property="tag" column="tag_id" javaType="learnspring.springmybatis.Tag">
                <result property="id" column="id" />
                <result property="tag_name" column="tag_name" />
            </association>
        </collection>
    </resultMap>

</mapper>