<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="learnspring.springmybatis.BlogMapper">

    <select id="selectBlog" resultType="learnspring.springmybatis.User">
        select * from public.user u where id = #{id}
    </select>

    <resultMap type="learnspring.springmybatis.User" id="usermap2">
        <id column="id" property="id"/>
        <result column="firstname" property="firstname"/>
        <result column="lastname" property="lastname"/>
        <result column="created" property="created"/>
    </resultMap>

    <select id="getUser2" resultMap="usermap2">
        select * from public.user where id = #{id,javaType=int,jdbcType=NUMERIC}
    </select>
    <insert id="insertUser2">
        insert into public.user (id, firstname, lastname, created, sex) values (
        #{id}, #{firstname}, #{lastname}, #{created}, #{sex}
        )
    </insert>

    <select id="selectPosts" resultMap="postsResultMap">
        select p.*, u.*, c.*
        , p.created as post_created, u.created as user_created
        from public.post p
        join public.user u on u.id = p.user_id
        join public.category c on c.id = p.category_id
        LIMIT 2
    </select>

    <select id="selectPostTag" resultType="learnspring.springmybatis.PostTag">
        SELECT * FROM public.post_tag WHERE post_id = #{id}
    </select>

    <resultMap id="postsResultMap" type="learnspring.springmybatis.Post" autoMapping="true">
        <!--<id property="id" column="id" />-->
        <result property="created" column="post_created" />
        <association property="user" column="user_id"
                     javaType="learnspring.springmybatis.User" autoMapping="true">
            <!--<id property="id" column="user_id" />-->
            <result property="created" column="user_created" />
        </association>
        <association property="category" column="category_id"
                     javaType="learnspring.springmybatis.Category" autoMapping="true">
            <!--<id property="id" column="category_id" />-->
        </association>
        <collection property="postTag" javaType="ArrayList" column="id"
                    ofType="learnspring.springmybatis.PostTag" select="selectPostTag">

            <!--<association property="tag" column="tag_id"-->
                         <!--javaType="learnspring.springmybatis.Tag" autoMapping="true">-->
            <!--</association>-->
        </collection>
    </resultMap>

</mapper>